<html ng-csp>
  <head>
    <link rel="stylesheet" href="css/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="js/lib/angularMaterial_1_5_3/angular.min.js"></script>
    <script src="js/lib/angularMaterial_1_5_3/angular-animate.min.js"></script>
    <script src="js/lib/angularMaterial_1_5_3/angular-aria.min.js"></script>
    <script src="js/lib/angularMaterial_1_5_3/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="js/lib/angularMaterial_1_5_3/angular-material.min.js"></script>

    <script type="text/javascript" src='js/lib/jquery_1_9_1.min.js'></script>
    <script type="text/javascript" src="js/lib/spinner/spin.js"></script>
    <script type="text/javascript" src="js/lib/spinner/angular-spinner.min.js"></script>

    <link rel="stylesheet" href="css/home.css">

    <script type="text/javascript" src="js/frontend.js"></script>
    <script type="text/javascript" src="js/controllers/mainController.js"></script>
    <!-- <script type="text/javascript" src="js/background.js"></script> -->
  </head>

  <body ng-app="tacTicToe">
    <div id="MainCtrl" ng-controller="MainCtrl" id="gameWindow">

      <h2 id="resFromBack">Test : {{helloText}}</h2>

      <section ng-repeat="btRow in boxButtons" layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <div style="display: inline-flex;">
          <section ng-repeat="tttButton in btRow.rowButtons" layout="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-warn tic-button" ng-class='{"tic-button-clicked": tttButton.clicked == true}' ng-click="sendAction($event,tttButton ,'dncdjcndj')">{{tttButton.colunmId}}</md-button>
          </section>
        </div>
      </section>


      <p>Service respond : {{controllerDataBackend}}</p>

      <div class="MaskLayer"
            ng-class="{isClosed : !masked}">

            <div class="MaskLayer-Content">
                <p>
                    Waiting for response!
                </p>
                <span ng-show="showLoading" us-spinner></span>
                <!-- <span ng-show="showLoading" us-spinner="{radius:30, width:8, length: 16}"></span> -->

                <!-- <button ng-click="close();">
                    Hide Mask
                </button> -->
            </div>
        </div>

        <!-- <p>
            My content is masked: {{masked}}
        </p>
        <button ng-click="open();">Show Mask</button> -->
      <!-- <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-show="showLoading" md-diameter="20px" md-mode="indeterminate"></md-progress-circular>
      </div> -->
    </div>




  </body>
</html>
